*{
	margin:0;
}
body{
	background-color: #222;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-inverse{
	background-color: initial;
	border: none;
}
.navbar-brand{
	position: relative;
	top: 0;
	padding-top: 0;
}
.navbar-text{
	color: #FFF;
	text-align: center;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text{
	color: #000;
}
.navbar-inverse .navbar-toggle{
	background-color: #fff;
	border-color: #000;
}
#nav, logo{
	padding-right: 0;
	padding-left: 0;
}
.jumbotron .btn-inverse{
	border-radius: 20px;
}
.btn-inverse{
	background-color: #000;
	color: #fff;
}
.btn-primary,
.btn-success,
.btn-warning,
.btn-info,
.btn-inverse,
.btn-default{
	border-radius: 25px;
}
.well{
	background-color: rgba(0,0,0,.6);
	border: none;
	color: #FFF;
}
.login-button{
	width: 100%;
}
.main-well{
	background-color: rgba(255,255,255, .6);
	color: #000;
}
.main-container{
	margin-top: 50px;
}
.comment-well{
	background-color: rgb(255,255,255);
}
.test{
	width: 100%;
	text-align: center;
	margin-top: 65px;
	margin-bottom: 35px;
}
.test h3 {
	color: #FFF;
}
.social{
	margin-top: 30px;
	margin-bottom: 15px;
}
.footer{
	margin:0;
	border-radius: 0;
}
.copyright{
	display: inline-block;
}
.footer-social{
	height: 30px;
}
.footer-p{
	color: #fff;
	position: relative;
	bottom: -10px;
}
.form-group textarea{
	width: 100%;
	border-radius: 5px;
	color: #000;
}
label.error{
	color: #FF0000;
}
.main-jumbotron{
	margin-top: 125px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: initial;
	border-bottom: 2px solid #000;
	color: #000;
}
.container .jumbotron, .container-fluid .jumbotron{
	background-color: rgba(255,255,255, .5);
}
.top{
	margin-top: 100px;
}
.test{
	padding-top: 80px;
	padding-bottom: 80px;
}
/*==================================================================== ART PAGE STYLING*/
.art-gallery h1{
	color: #FFF;
}
.art-gallery h1>small{
	font-size: 1.25rem;
	color: #FFF;
}
.thumbnail{
	border-radius:none;
	padding: 0;
}
.thumb-image{
	height: 250px;
	width: 100%;
}
/*===========================================================================CONTACT PAGE STYLING*/
.success{
	text-align: center;
	font-size: 2rem;
	color: #397D02;
}
.message-error{
	text-align: center;
	color: #FF0000;
}
/*==========================================================================TEAM MEMBERS PAGE STYLING*/
.team-main-well{
    min-height: 1000px;
	font-family: "Coming Soon", Arial, Helvetica, sans-serif;
	background-color: rgba(0,0,0,.7);
	border: none;
    padding-top: 40px;
}
.team-position{
	color: #FF0000;
	text-align: right;
	text-transform: uppercase;
}
.team-member-name{
	height: 100%;
}
.team-name{
	font-size: 2em;
}
.copyright{
	color: #fff;
}
.team-descrip{
	padding-left: 40px;
}
/*Media Queries=================================*/
@media (max-width: 768px){
	.comment-well{
		display: none;
	}
}